[submodule "Submodules/bfilesdk-dotnet"]
	path = Submodules/bfilesdk-dotnet
	url = https://github.com/bkio/bfilesdk-dotnet.git
	branch = master
[submodule "Submodules/BDotNetFramework"]
	path = Submodules/BDotNetFramework
	url = https://github.com/bkio/BDotNetFramework.git
	branch = master
