[submodule "submodules/bfilesdk-dotnet"]
	path = submodules/bfilesdk-dotnet
	url = https://github.com/bkio/bfilesdk-dotnet.git
	branch = master
[submodule "submodules/BDotNetFramework"]
	path = submodules/BDotNetFramework
	url = https://github.com/bkio/BDotNetFramework.git
	branch = master
